body{
    overflow-x: hidden;
}

.carousel-item img{
    opacity: 100%;
}
.jumbotron{
    background-color: #fcdef5;
}
.card{
    border: none
}


div.sticky{
    width: 100%;
    position: -webkit-fixed;
    position: fixed;
    top: 0;
    z-index: 11998;
}   
.navbar{
    width: 102%;
}

#nav_rit
{
    margin-left: 75%;
}

@media only screen and (max-width: 600px) {
    .navbar
    {
        width: 107%;
    }
    #nav_rit
    {
    margin-left: 0%;
    }
    
    div.sticky{
        width: 100%;
        position: static;
        /* position: fixed; */
        top: 0;
        z-index: 11998;
    } 
  }