.carousel-item img{
    opacity: 100%;
}
.jumbotron{
    background-color: #fcdef5;
}
.card{
    border: none
}


div.sticky{
    width: 100%;
    position: -webkit-fixed;
    position: fixed;
    top: 0;
    z-index: 11998;
}   
.navbar{
    width: 102%;
}

@media only screen and (max-width: 600px) {
    .navbar{
        width: 104%;
    }
  }